<div class="splash-container">
  <div class="splash splash-signup">
 		<div class="signup">
	  	<h2>Please enter the following fields to register. All fields are required.</h2>

			<%= form_with model: @user, class: "pure-form pure-form-aligned" do |f| %>
				<%= f.label :name %>
			  <%= f.text_field :name, autofocus: true %>

			  <%= f.label :email %>
			  <%= f.text_field :email, autofocus: true %>

			  <%= f.label :username %>
			  <%= f.text_field :username, autofocus: true %>

			  <%= f.label :password %>
			  <%= f.password_field :password %>

    		<%= f.label :password_confirmation %>
    		<%= f.password_field :password_confirmation %>

			  <%= f.submit "Submit", class: "pure-button pure-button-primary" %>
			<% end %>
		</div>
	</div>
</div>
